<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h2><a href="/admin/set-genres">Добавьте жанры</a></h2>
    <h2><a href="/admin/add-game">Добавьте игры</h2>
    <h2><a href="/admin/add-key">Добавить ключи</a></h2>
    <form action="/admin" method="post">
        {% with messages = get_flashed_messages() %}
        <input type="password" name="user_id" id="user_id" value="{{messages[0]}}" readonly hidden>
        <input type="password" name="token" id="token" value="{{messages[1]}}" readonly hidden>
        {% endwith %}
    </form>
    <script src="{{url_for('static', filename='/js/autorization.js')}}"></script>
</body>
</html>